<header>
    <div class="logo-title">
        <img id="logo" src="/images/icons8-idea.svg" alt="idea-logo">
        <h2 class="header">Mind Memoirs: The Ultimate Notes App for Your Creative Ideas</h2>
    </div>
</header>
