<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('head'); %>
    <title>Document</title>
</head>
<body>
    <%- include('header'); %>
    <section>
        <div class="flex">
            <div class="home"><a href="/entities/list/note" class="href">Notes</a></div>
            <div class="home"><a href="/entities/list/task" class="href">Tasks</a></div>
            <div class="home"><a href="/entities/list/event" class="href">Events</a></div>
        </div>
    </section>
</body>
</html>